##################################
#  Jupyter notebook checkpoints  #
##################################
.ipynb_checkpoints/

##################################
#     Images parmi les data      #
##################################
data/Images/